@font-face {
  font-family: 'PressStart2P';
  src: url('assets/miscellaneous/PressStart2P.ttf') format('truetype');
}

/* Retro Pixel Style */
body {
  margin: 0;
  padding: 0;
  font-family: 'Press Start 2P', monospace;
  background-color: #f8f8f8;
  color: #33ff66;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  image-rendering: pixelated;
  overflow-x: hidden;
}

h1 {
  font-size: 16px;
  color: #00ff88;
  text-shadow: 1px 1px black;
  margin-top: 20px;
  text-align: center;
}

canvas#gameCanvas {
  border: 4px solid #000000;
  background-color: #808080;
  display: none;
  margin: 20px auto;
  /* box-shadow: 0 0 10px lime; */
  image-rendering: pixelated;
}

/* Buttons */
button {
  background-color: black;
  color: #33ff66;
  font-family: 'Press Start 2P', monospace;
  border: 2px solid #33ff66;
  padding: 10px 20px;
  margin: 5px auto;
  font-size: 10px;
  cursor: pointer;
  transition: all 0.2s ease;
  image-rendering: pixelated;
  width: 120px;
  display: block;
}

button:hover {
  background-color: #33ff66;
  color: black;
  transform: scale(1.05);
}

/* Panel (Settings & Credits) */
#settings,
#credits {
  font-size: 8px;
  background: #000;
  color: #33ff66;
  border: 2px solid #33ff66;
  padding: 10px;
  width: 300px;
  margin-top: 10px;
  font-family: 'Press Start 2P', monospace;
  image-rendering: pixelated;
}

/* Intro & Start Page */
#introPage,
#startPage {
  background-color: #808080;
  color: #33ff66;
  font-family: 'Press Start 2P', monospace;
  font-size: 10px;
  text-align: center;
  /* border: 4px double #33ff66; */
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  image-rendering: pixelated;
}

#introPage {
  width: 100vw;
  height: 100vh;
  cursor: pointer;
}

/* Social Icons */
.social-icons {
  position: fixed;
  bottom: 10px;
  left: 10px;
  display: flex;
  gap: 15px;
  z-index: 10;
}

.social-icons a img {
  width: 32px;
  height: 32px;
  filter: grayscale(100%);
  transition: transform 0.2s;
}

.social-icons a img:hover {
  transform: scale(1.2);
  filter: grayscale(0%);
}